.cards-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.loading-cards {
    /* size: cover; */
    /* background-repeat: no-repeat; */
    height: 100vw;
    width: 100vw;
    position: fixed;
    margin-top: -400px;
    margin-bottom: -20px;
}